body {
    text-align: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.panel {
    background-color: #212121;
    color: #f9f9f9;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
}
.title {
    font-size: 32px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 700;
    padding-bottom: 36px
}
#board {
    background-image: repeating-linear-gradient(#efefef , #ECF0F1);
    margin: 0 auto;
    display: block
}
#message {
    font-size: 24px;
    font-family: fantasy
}
#emoji {
    font-size: 142px;
    /* display: block; */
}
#reset {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px;
    margin: 0 auto;
    display: none;
}
.info {
    text-align: center;
}